<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/iBet</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping class="dominio.Users" package="dominio"/>
    <mapping class="dominio.Apuesta" package="dominio"/>
    <mapping class="dominio.MedioPago"/>
    <mapping class="dominio.TableroGanancia"/>
    <mapping class="dominio.Evento"/>
    <mapping class="dominio.Categoria"/>
    <mapping class="dominio.Politica"/>
    <mapping class="dominio.Participante"/>
    <mapping class="dominio.UsuarioMedioPago"/>
  </session-factory>
</hibernate-configuration>
