<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

           <!-- Archivo de aplicacion de contexto para la configuracion de Servicios -->

    <!-- ******************** UTILITARIO *************************************-->
    <!-- BEAN PARA EL HELPER QUE LEE LAS PROPIEDADES DE LA APLICACION
    urlRecurso: direccion de paquetes donde se encuentra el archivo conf.properies
    -->
    <bean id="helperProperties" class="ve.edu.ucab.ibet.generic.util.helpers.impl.HelperPropertiesImpl">
    </bean>

    <!-- ******************** REPORTES *************************************-->
    <!-- BEAN PARA EL GENERADOR DE REPORTES EN DISCO DURO-->
    <bean name="generarReporteFile" class="ve.edu.ucab.ibet.generic.util.reportes.impl.GenerarReporteFileImpl">
        <property name="helperProperties" ref="helperProperties"/>
    </bean>

    <!-- BEAN PARA EL SERVICIO DE REPORTES -->
    <bean id="servicioReporte" class="ve.edu.ucab.ibet.servicios.impl.ServicioReportesImpl" scope="singleton">
        <property name="genericDao" ref="genericDao"/>
        <property name="helperProp" ref="helperProperties"/>
    </bean>

    <!-- ******************** LOGICA *************************************-->
    <!-- BEAN PARA EL SERVICIO DE USUARIOS-->
    <bean id="servicioUsuario" class="ve.edu.ucab.ibet.servicios.impl.ServicioUsuarioImpl" scope="singleton">
        <property name="genericDao" ref="genericDao"/>
        <property name="helperProp" ref="helperProperties"/>
        <property name="servicioMail" ref="mailService"/>
    </bean>

    <!-- BEAN PARA EL SERVICIO DE APUESTAS-->
    <bean id="servicioApuesta" class="ve.edu.ucab.ibet.servicios.impl.ServicioApuestaImpl" scope="singleton">
        <property name="genericDao" ref="genericDao"/>
        <property name="servicioUsuario" ref="servicioUsuario"/>
        <property name="servicioEvento" ref="servicioEvento"/>
        <property name="generarReporte" ref="generarReporteFile"/>
        <property name="helperProp" ref="helperProperties"/>
    </bean>

    <!-- BEAN PARA EL SERVICIO DE CATEGORIAS-->
    <bean id="servicioCategoria" class="ve.edu.ucab.ibet.servicios.impl.ServicioCategoriaImpl" scope="singleton">
        <property name="genericDao" ref="genericDao"/>
        <property name="helperProp" ref="helperProperties"/>
    </bean>

    <!-- BEAN PARA EL SERVICIO DE EVENTOS-->
    <bean id="servicioEvento" class="ve.edu.ucab.ibet.servicios.impl.ServicioEventoImpl" scope="singleton">
        <property name="genericDao" ref="genericDao"/>
        <property name="helperProp" ref="helperProperties"/>
    </bean>
    
    <!-- BEAN PARA EL SERVICIO MEDIOS DE PAGO-->
    <bean id="servicioMedioPago" class="ve.edu.ucab.ibet.servicios.impl.ServicioMedioPagoImpl" scope="singleton">
        <property name="genericDao" ref="genericDao"/>
        <property name="helperProp" ref="helperProperties"/>
    </bean>

    <!-- BEAN PARA EL SERVICIO USUARIO MEDIOS DE PAGO-->
    <bean id="servicioUsuarioMedioPago" class="ve.edu.ucab.ibet.servicios.impl.ServicioUsuarioMedioPagoImpl" scope="singleton">
        <property name="genericDao" ref="genericDao"/>
        <property name="helperProperties" ref="helperProperties"/>
        <property name="servicioMail" ref="mailService"/>
    </bean>
   
</beans>