<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">

          <!-- Archivo de aplicacion de contexto para la configuracion de Seguridad -->

    <!-- BEAN PARA EL REGISTRO DE LA SESSION -->
    <beans:bean id="sessionRegistry"
		class="org.springframework.security.concurrent.SessionRegistryImpl" />

    <!-- BEAN PARA LA CLASE CONTROLADORA DE LA SESSION-->
    <beans:bean id="defaultConcurrentSessionController"
		class="org.springframework.security.concurrent.ConcurrentSessionControllerImpl">
        <beans:property name="sessionRegistry" ref="sessionRegistry" />
        <beans:property name="exceptionIfMaximumExceeded"
			value="true" />
    </beans:bean>

    <!-- BEAN PARA EL DAO QUE MANEJARA LA AUTENTICACION
    Se especifica cuales seran los accesos a datos y
    que utilizaremos MD5 para encriptarlos-->
    <beans:bean id="daoAuthenticationProvider"
		class="org.springframework.security.providers.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userDetailsService" />
        <beans:property name="hideUserNotFoundExceptions"
			value="false" />
        <beans:property name="passwordEncoder">
            <beans:bean class="org.springframework.security.providers.encoding.Md5PasswordEncoder" />
        </beans:property>
    </beans:bean>

    <!-- BEAN PARA LA CLASE QUE ENVIARA DESPUES DEL LOGIN A LA SIGUIENTE PAGINA -->
    <beans:bean id="defaultTargetUrlResolver"
		class="org.springframework.security.ui.TargetUrlResolverImpl" />

    <!-- BEAN PARA LA CLASE QUE ENVIARA AL USUARIO ADMINISTRADOR A LA PAGINA ADMIN -->
    <beans:bean id="roleBasedTargetUrlResolver"
		class="ve.edu.ucab.ibet.generic.util.RoleBasedTargetUrlResolverImpl">
        <beans:constructor-arg ref="defaultTargetUrlResolver" />
    </beans:bean>

    <!-- BEAN PARA EL MANEJADOR DE AUTENTICACIONES -->
    <beans:bean id="authenticationManager"
		class="org.springframework.security.providers.ProviderManager">
        <beans:property name="providers">
            <beans:list>
                <beans:ref local="daoAuthenticationProvider" />
            </beans:list>
        </beans:property>
        <beans:property name="sessionController"
			ref="defaultConcurrentSessionController" />
    </beans:bean>

    <!-- BEAN PARA LA ESPECIFICACION DE FILTROS
    defaultTargetUrl: la url por defecto a la que ira la aplicacion despues de login
    authenticationFailureUrl: en caso de fallar el login a que url se dirige
    exceptionMappings: las paginas a las que se dirigira la aplicacion en caso de erores
    -->
    <beans:bean id="customAuthenticationProcessingFilter"
		class="org.springframework.security.ui.webapp.AuthenticationProcessingFilter">
        <custom-filter position="AUTHENTICATION_PROCESSING_FILTER" />
        <beans:property name="defaultTargetUrl"   value="/home.htm" />
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="authenticationFailureUrl" value="/login.htm?authfailed=true" />
        <beans:property name="allowSessionCreation" value="true" />
        <beans:property name="targetUrlResolver" ref="roleBasedTargetUrlResolver" />
        <beans:property name="exceptionMappings">
            <beans:props>
                <beans:prop
                    key="org.springframework.security.CredentialsExpiredException">
                    /login.htm?newpassword=true
                </beans:prop>
                <beans:prop key="org.springframework.security.LockedException">
                    /login.htm?acclocked=true
                </beans:prop>
                <beans:prop key="org.springframework.security.DisabledException">
                    /login.htm?accdisabled=true
                </beans:prop>
            </beans:props>
        </beans:property>
    </beans:bean>

     <!-- DESACTIVANDO LAS ETIQUETAS GLOBALES DE SEGURIDAD -->
    <global-method-security secured-annotations="disabled">
    </global-method-security>

     <!-- BEAN PARA ESPECIFICAR EN QUE ARCHIVO SE CONTRARA EL FORM URL -->
    <beans:bean id="myAuthenticationEntryPoint"
		class="org.springframework.security.ui.webapp.AuthenticationProcessingFilterEntryPoint">
        <beans:property name="loginFormUrl" value="/login.htm" />
    </beans:bean>

    <!-- PUNTOS DE ENTRADA DE AUTENTICACION
     Aca se especificara a que paginas puede entrar dependiendo de cada
     permiso. Por defecto la pagina del log debe tener de filtros none
    -->
    <http entry-point-ref="myAuthenticationEntryPoint" auto-config="false">
        <intercept-url pattern="/redirect.jsp" filters="none" />
        <intercept-url pattern="/publico/**" filters="none" />
        <intercept-url pattern="/css/**" filters="none" />
        <intercept-url pattern="/images/**" filters="none" />
        <intercept-url pattern="/flash/**" filters="none" />
        <intercept-url pattern="/js/**" filters="none" />
        <intercept-url pattern="/login.htm" filters="none" />
        <intercept-url pattern="/home.htm" access="ROLE_USER,ROLE_GUEST" />
        <intercept-url pattern="/include/header.jsp" access="ROLE_USER,ROLE_GUEST" />
        <intercept-url pattern="/privado/back/admin.htm" access="ROLE_ADMIN" />
        <intercept-url pattern="/**" access="ROLE_USER" />
        <anonymous username="guest" granted-authority="ROLE_GUEST" />
        <!--
                no longer needed as using custom authtication approach <form-login
                login-page="/login.jsp" default-target-url="/home.htm"
                always-use-default-target="false"
                authentication-failure-url="/login.jsp?authfailed=true" />
        -->
        <logout invalidate-session="true" logout-url="/logout.htm"
			logout-success-url="/login.htm?loggedout=true" />

        <!--
                make sure you have
                org.springframework.security.ui.session.HttpSessionEventPublisher
                registered in the web.xml file.
        -->
        <!-- no longer used - config set in bean -->
        <!--
                <concurrent-session-control max-sessions="1"
                exception-if-maximum-exceeded="true" />
        -->
    </http>
    
    <!-- Indicacion de que nuestro proveedor de datos para la seguridad sera
    el dataSource de la base de datos-->
    <authentication-provider>
        <jdbc-user-service id="userDetailsService" data-source-ref="dataSource" />
    </authentication-provider>
</beans:beans>