/* 
    Document   : dataTableAdmin
    Created on : Dec 12, 2009, 1:58:15 PM
    Author     : jonathan
    Description:
        Purpose of the stylesheet follows.
*/

.dataTable {
    width:100%;
}

.dataTable thead th{
    background-color:#262626;
    border:#000 solid 1px;
    color:#fff;
    padding:1px 4px;
    font-weight:700;
    letter-spacing:2px;
    vertical-align:top
}

.dataTable  td {
    /*border:#000 solid 1px;*/
    padding:1px 4px;
    vertical-align:top;
}

.dataTable  tr.odd {
    background-color: #cccccc;
}

.dataTable tr.even {
    background-color: #aaaaaa;
}

.dataTable th a:hover {
    color: #ffcc00;
    background-color: transparent;
}

.dataTable .order1 {
    background-position: right;
    background-image: url(../images/displayTag/arrow_up.gif);
    background-repeat: no-repeat;
}

.dataTable .order2 {
    background-position: right;
    background-image: url(../images/displayTag/arrow_down.gif);
    background-repeat: no-repeat;
}

.pagelinks img {
    vertical-align: middle;
}

span.export {
    padding: 0 4px 1px 20px;
    font-size: x-small;
    text-align: center;
}

span.excel {
    background-image: url(../images/displayTag/ico_file_excel.png);
    background-repeat: no-repeat;
    width: 16px;
}

span.csv {
    background-image: url(../images/displayTag/ico_file_csv.png);
    background-repeat: no-repeat;
    width: 16px;
}

span.xml {
    background-image: url(../images/displayTag/ico_file_xml.png);
    background-repeat: no-repeat;
    width: 16px;
}

span.pdf {
    background-image: url(../images/displayTag/ico_file_pdf.png);
    background-repeat: no-repeat;
    width: 16px;
}

span.rtf {
    background-image: url(../images/displayTag/ico_file_rtf.png);
    background-repeat: no-repeat;
    width: 16px;
}