/* 
    Document   : wholeLayout
    Created on : Dec 22, 2009, 9:42:39 PM
    Author     : jonathan
    Description:
        Purpose of the stylesheet follows.
*/

/* @group Columna Central */

#content {
	margin: 20px
}

#contentWrapper {
	float: left;
	margin-bottom: 20px;
	width: 100%
}

#contentColumn {
	margin: 0;
	max-width: none;
	min-width: 550px
}

/* @end */

fieldset{
    float:left;
    width:45%;
}
.clear{
    clear:both
}