/* 
    Document   : slip
    Created on : Oct 22, 2009, 4:14:25 PM
    Author     : jonathan
    Description:
        Estilos de Slip.*/

/* @group Slip */

#slip {
	background-color: #429CFF;
	border: #fff solid 1px;
        position:fixed;
	width: 200px
}

.slipContent {
	color: #fff;
	padding: 10px;
	font: .8em/1.5 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	text-align: justify;
}

.slipTitle {
	background-color: #171717;
	border-bottom: #fff solid 1px;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 5px 10px
}

#slipBottom {
	background-color: #171717;
	border-top: #fff solid 1px;
}

#pick{
    position:relative
}

#proporcion{
    position:absolute;
    right:0;
    bottom:0
}

#nombreParticipante{
    font-size:1.5em;
}

/* @end */

/* @group Links */

.slipContent a {
	color: #141414;
	font-weight: 700;
	text-decoration: none
}

.slipContent a:hover,.slipContent a:active {
	text-decoration: underline
}

.slipContent a:visited {
	color: #424242;
}
/* @end */

/* @group SlipInput */

#slip form input[type=text] {
	background-color: #202020;
	border: 1px solid #fff;
	color: #fff;
	font: 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	width: 50px;
}

#slip form input[type=text]:focus {
	background-color: #101010;
	border: 1px solid #429CFF
}

/* @group SlipBoton */

form input[type="submit"] {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	background: #00AAE2 url(../images/form/buttonBg.png);
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	font: 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	padding: 2px 8px
}

form input[type="submit"]:hover {
	background: #0089B4 url(../images/form/buttonHoverBg.png);
}