/* 
    Document   : tablero
    Created on : Nov 23, 2009, 7:52:42 PM
    Author     : jonathan
    Description:
        Estilo de tablero.
*/

.tablero{
    width:100%;
}

.tablero .fecha{
    background-color:#171717;
    border:#000 solid 1px;
    color:#429cff;
    padding:1px 4px;
    font-weight:700;
    vertical-align:top
}

.tablero .hora{
    color:#bcbcbc;
    padding:1px 4px;
    text-align:center;
    vertical-align:top
}

.tablero .item{
    background-color:#202020;
    border:#000 solid 1px;
    cursor:pointer;
    padding:1px 4px;
    vertical-align:top;
}

.tablero .itemHover{
    background-color:#202020;
    border:orange solid 1px;
    cursor:pointer;
    padding:1px 4px;
    vertical-align:top;
}

.tablero .itemClick{
    background-color:orange;
    border:1px solid #000;
    color:#000;
    cursor:pointer;
    padding:1px 4px;
    vertical-align:top;
}

.tablero .participante{
    float:left;
    max-width:80%
}

.tablero .proporcion{
    float:right;
}
