/* 
    Document   : index
    Created on : Oct 22, 2009, 12:46:48 PM
    Author     : jonathan
    Description:
        Indice de CSS.
        No contiene codigo CSS, solo llamadas a las otras hojas de estilo.
*/

@import url("main.css");

@import url("header.css");

@import url("layout.css");

@import url("footer.css");

@import url("menu.css");

@import url("content.css");

@import url("slider.css");

@import url("tablero.css");

@import url("slip.css");

@import url("forms.css");

@import url("messages.css");

@import url("sifr.css");

@import url("jquery-ui-1.7.2.custom.css");